@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Lexend+Zetta:wght@200;300;400;500&family=Montserrat:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');


*,*::after,*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: $primary-colour;
}

h1{
    font-family: $primary-font;
    font-optical-sizing: auto;
    font-size: 10.5REM;
    font-weight: 400;
    margin: 15px 0;
}

h2{
    font-family: $primary-font;
    font-optical-sizing: auto;
    font-size: 9REM;
    font-weight: 400;
}

.secondary-font{
    font-family: $secondary-font;
}

.hidden{
    display: none;
}

.section{
    height: 100vh;
    display: flex;
    align-items: center;

    .section-content{
        width: 50%;
        &.works-content{
            display: flex;
            flex-wrap: wrap;
        }
    }
    
    .section-name{
        width: 50%;
        .section-title{
            &.right{
                &.hover-title{
                    transform:  translateX(25px) skewY(3deg);
                    transition: transform 350ms ease-out;
                }
                &.return-title{
                    transform:  translateX(-25px);
                    transition: transform 350ms ease-out;
                }
            }
            &.left{
                &.hover-title{
                    transform:  translateX(-25px) skewY(-3deg);
                    transition: transform 350ms ease-out;
                }
                &.return-title{
                    transform:  translateX(25px);
                    transition: transform 350ms ease-out;
                }
            }
        }
    }
}

.container{
    margin: auto;
    max-width: (100% / 1.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
}